* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(90deg, #7359FB 0%, #E147AB 100%)
}

.wrapper {
    width: 420px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #3C257C;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #3C257C;
}

.input-box input::placeholder {
    color: #3C257C;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    background-color: #3C257C;
    color: #fff;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

   .wrapper label {
    color: #3C257C;
        font-size: small;
        font-weight: bold;
        display: block;
        margin-bottom: -25px;
      }

.register-link p a {
    color: #3C257C;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;

}

.login-link {
    margin-top: 5%;
    text-align: center;
}