  .search-bar-container input {
    background-color: rgba(255, 255, 255, 0.912);
    width: 350px;
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 50px;
    border: none;
    outline: none;
  }

  /* .search-bar-container input:focus {
    width: 400px; 
} */
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 50px; 
    border-radius: 5px;
    border: none;
  }

  .search-result {
    margin: 10px;
  }

  .search-results-container {
    border-radius: 10px;
    overflow: hidden;
    background-color: #E4DBFE;
  }

  .link-result {
    text-decoration: none;
  }